# mac files
**/.DS_Store

# Xcode
**/UserInterfaceState.xcuserstate
**/*.xcbkptlist

# theos obj files
**/.theos
**/*.dylib

# ida pro
**/*.id*
**/*.nam
**/*.til
**/*.i64

# deb packages
**/*.deb
**/zhao/package/
**/zhao/packages/
