Package: org.github.henryquan.zhao
Name: zhao
Version: 0.0.2
Architecture: iphoneos-arm
Description: Memory search and injection. It should also update automatically while app updates.
Maintainer: HenryQuan
Author: HenryQuan
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3)
