<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Plants</string>
		</dict>
			<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.github.henryquan.pvz2</string>
			<key>key</key>
			<string>free_plant</string>
			<key>label</key>
			<string>Free plants</string>
			<key>PostNotification</key>
        	<string>org.github.henryquan.pvz2/PrefChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.github.henryquan.pvz2</string>
			<key>key</key>
			<string>no_cooldown</string>
			<key>label</key>
			<string>No cooldown</string>
			<key>PostNotification</key>
        	<string>org.github.henryquan.pvz2/PrefChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.github.henryquan.pvz2</string>
			<key>key</key>
			<string>plant_op</string>
			<key>label</key>
			<string>Invincible plants</string>
			<key>PostNotification</key>
        	<string>org.github.henryquan.pvz2/PrefChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Extras</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.github.henryquan.pvz2</string>
			<key>key</key>
			<string>max_sun</string>
			<key>label</key>
			<string>Max sun</string>
			<key>PostNotification</key>
        	<string>org.github.henryquan.pvz2/PrefChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.github.henryquan.pvz2</string>
			<key>key</key>
			<string>infinite_time</string>
			<key>label</key>
			<string>Inifite time for coin skills</string>
			<key>PostNotification</key>
        	<string>org.github.henryquan.pvz2/PrefChanged</string>
		</dict>
	</array>
	<key>title</key>
	<string>Plants vs. Zombies 2 Mod</string>
</dict>
</plist>
